body{
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0a001a;
}

.slider{
	width: 400px;
	height: 600px;
	border-radius: 80px;
	overflow: hidden;
	box-shadow: rgba(140, 57, 248, 0.411) 0px 0px 12px;
}

.slides{
	width: 500%;
	height: 500px;
	display: flex;
}

.slides input{
	display: none;
}

.slide{
	width: 20%;
	transition: 2s;
}

.slide img{
	width: 450px;
	height: 600px;
}

/*manual*/

.navigation-manual{
	position: absolute;
	width: 400px;
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.manual-btn{
	border: 2px solid #33005c;
	padding: 8px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.manual-btn:not(:last-child){
	margin-right: 40px;
}

.manual-btn:hover{
	background: #22013d65;
}

#radio1:checked ~ .first{
	margin-left: 0;
}

#radio2:checked ~ .first{
	margin-left: -20%;
}

#radio3:checked ~ .first{
	margin-left: -40%;
}

#radio4:checked ~ .first{
	margin-left: -60%;
}



/*automatyczna nawigacja*/


.navigation-auto{
	position: absolute;
	width: 400px;
	margin-top: 520px;
	display: flex;
	justify-content: center;
}

.navigation-auto div{
	border: 2px solid #ffffff00;
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
}

.navigation-auto div:not(:last-child){
	margin-right: 40px;
}

#radio1:checked ~.navigation-auto .auto-btn1{
	background: #26016100;
}

#radio1:checked ~.navigation-auto .auto-btn2{
	background: #26016100;
}

#radio1:checked ~.navigation-auto .auto-btn3{
	background: #26016100;
}

#radio1:checked ~.navigation-auto .auto-btn4{
	background: #26016100;
}

.h3{
	font-size: 50px;
	position: absolute;
	width: 100%;
	text-align: center;
	padding-top: 40px;
	top: 0;
	left: 0;
	color: white;
	font-family: 'Niramit', sans-serif;
	text-shadow: 1px 1px 2px black, 0 0 1em rgb(60, 9, 179), 0 0 0.2em rgb(118, 7, 209);
}

.h4{
	font-size: 17px;
	position: absolute;
	width: 100%;
	text-align: center;
	padding-top: 115px;
	top: 0;
	left: 0;
	color: white;
	font-family: 'Niramit', sans-serif;
	text-shadow: 1px 1px 1px black, 0 0 1em rgb(60, 9, 179), 0 0 0.2em rgb(118, 7, 209);
}
